<mat-card class="flex-1 mat-card-no-space">
  <mat-card-content>
    <wow-dynamic-table [columns]="columns"
                       [data]="data()"
                       showDropdownMenu
                       [dropdownMenu]="actionsMenu"
                       (rowDblClick)="goToDetail($event)"
                       [isLoading]="loading()"
    ></wow-dynamic-table>
  </mat-card-content>
</mat-card>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-data="rowSelected" matMenuContent>
    <button mat-menu-item (click)="edit(data)">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </ng-template>
</mat-menu>