<div class="flex pt-6 justify-between gap-4">
  <div class="w-full lg:w-2/12">
      <div class="bordered bg-white container p-4 rounded shadow">

        <mat-form-field class="w-full">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="ubigeoDepartmentId">
            <mat-option>Todos</mat-option>
            @for (department of ubigeoService.departments(); track department.department_code) {
            <mat-option [value]="department.department_code">{{ department.department_name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state_construction">
            <mat-option>Todos</mat-option>
            @for (issue of settingService.stateConstruction(); track issue.id) {
            <mat-option [value]="issue.id">{{ issue.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Fecha Creación</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="flex justify-end">
          <button type="button" mat-stroked-button (click)="clean()" class="border">Limpiar</button>&nbsp;
          <button type="button" mat-flat-button (click)="filter()">Filtrar</button>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-10/12">
      <mat-card class="mat-card-no-space">
        <mat-card-content>
          <wow-dynamic-table [columns]="columns" [data]="data()" showDropdownMenu
            (rowDblClick)="goToDetail($event)" [isLoading]="loading()"></wow-dynamic-table>
        </mat-card-content>
      </mat-card>

      <!-- <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
        <ng-template let-data="rowSelected" matMenuContent>
          <button mat-menu-item (click)="edit(data)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </ng-template>
      </mat-menu> -->
    </div>
</div>