<div class="flex items-center justify-end h-full user-info pr-0 md:pr-10 gap-4 bg-purple-900 cursor-pointer"
     matRipple [matMenuTriggerFor]="menu">
  <div class="hidden md:block text-right pl-10">
    <!-- <h2 class="text-base leading-4" [title]="userName">{{ userName }}</h2>
    <p class="text-xs opacity-75 text-purple-400" [title]="userRole">{{ userRole }}</p> -->
    <h2 class="text-base leading-4">Roy Peter Celino Samamé</h2>
    <p class="text-xs opacity-75 text-purple-400">Administrador</p>
  </div>
  <div class="bg-orange-500 h-12 w-12 flex justify-center items-center rounded-full">
    <!-- <div>{{ userName.charAt(0) }}</div> -->
     <div>R</div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">Salir</button>
</mat-menu>
