<div class="relative w-full h-[calc(100vh-20rem)] overflow-x-auto">
  <table [@stagger]="dataSource.filteredData" [dataSource]="isLoading() ? this.loadingRows() : dataSource"
    class="w-full flex-auto" mat-table matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="table_checkbox_column">
      <th *matHeaderCellDef mat-header-cell>
        @if (showHeaderCheckbox()) {
        <mat-checkbox (change)="selectAll($event)" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
        </mat-checkbox>
        }
      </th>
      <td *matCellDef="let row" class="w-4" mat-cell>
        <mat-checkbox (change)="selectRow($event, row)" (click)="$event.stopPropagation()"
          [checked]="selection.isSelected(row)" color="primary">
        </mat-checkbox>
      </td>
    </ng-container>


    @for (column of columns(); track column.property) {
    @if (!isLoading()) {
    @switch (column.type) {
    @case ('text') {
    <!-- Text Columns -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row; let i = index"
        (mouseenter)="hoveredCell.set({ rowIndex: i, columnProperty: column.property })"
        (mouseleave)="hoveredCell.set(null)" [ngClass]="column.cssClasses"
        [class.ctrl-cell-hover]="isCtrlHoverActive(i, column.property, column.allowCtrlClick)"
        (click)="onCellCtrlClick($event, column.property, row, column.allowCtrlClick)" mat-cell>
        {{ row[column.property] }}
      </td>
    </ng-container>
    }
    @case ('date') {
    <!-- Text Columns -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row; let i = index"
        (mouseenter)="hoveredCell.set({ rowIndex: i, columnProperty: column.property })"
        (mouseleave)="hoveredCell.set(null)" [ngClass]="column.cssClasses"
        [class.ctrl-cell-hover]="isCtrlHoverActive(i, column.property, column.allowCtrlClick)"
        (click)="onCellCtrlClick($event, column.property, row, column.allowCtrlClick)" mat-cell>
        @if (column.format) {
        <span>{{ row[column.property] | date:column.format }}</span>
        } @else {
        <span>{{ row[column.property] | date }}</span>
        }
      </td>
    </ng-container>
    }
    @case ('date') {
    <!-- Text Columns -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row; let i = index"
        (mouseenter)="hoveredCell.set({ rowIndex: i, columnProperty: column.property })"
        (mouseleave)="hoveredCell.set(null)" [ngClass]="column.cssClasses"
        [class.ctrl-cell-hover]="isCtrlHoverActive(i, column.property, column.allowCtrlClick)"
        (click)="onCellCtrlClick($event, column.property, row, column.allowCtrlClick)" mat-cell>
        @if (column.format) {
        <span>{{ row[column.property] | date:column.format }}</span>
        } @else {
        <span>{{ row[column.property] | date }}</span>
        }
      </td>
    </ng-container>
    }
    @case ('image') {
    <!-- Image Column -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" class="w-8 min-w-8 p-0" mat-cell>
        <img [src]="row[column.property]" class="avatar h-8 w-8 align-middle" />
      </td>
    </ng-container>
    }
    @case ('icon') {
    <!-- Icon Column -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row" class="w-8 min-w-8 p-0" mat-cell>
        @if (row[column.property]) {
        <a [href]="row[column.property]" target="_blank" [matTooltip]="row[column.property]">
          @if (column.icon) {
          <mat-icon>{{ column.icon }}</mat-icon>
          }
        </a>
        }
      </td>
    </ng-container>
    }
    @case ('badge') {
    <!-- Badge Column -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row; let i = index"
        (mouseenter)="hoveredCell.set({ rowIndex: i, columnProperty: column.property })"
        (mouseleave)="hoveredCell.set(null)" [ngClass]="column.cssClasses"
        [class.ctrl-cell-hover]="isCtrlHoverActive(i, column.property, column.allowCtrlClick)"
        (click)="onCellCtrlClick($event, column.property, row, column.allowCtrlClick)" mat-cell>
        <div class="flex items-center gap-1">
          <div [ngClass]="[row[column.property]?.textClass, row[column.property].bgClass]"
            class="rounded-xl px-2 py-1 font-medium text-xs flex-none">
            {{ row[column.property].text }}
          </div>
        </div>
      </td>
    </ng-container>
    }
    @case ('tags') {
    <!-- Tags Column -->
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>
        {{ column.label }}
      </th>
      <td *matCellDef="let row; let i = index"
        (mouseenter)="hoveredCell.set({ rowIndex: i, columnProperty: column.property })"
        (mouseleave)="hoveredCell.set(null)" [ngClass]="column.cssClasses"
        [class.ctrl-cell-hover]="isCtrlHoverActive(i, column.property, column.allowCtrlClick)"
        (click)="onCellCtrlClick($event, column.property, row, column.allowCtrlClick)" mat-cell>
        <div class="flex items-center gap-1">
          @for (label of row[column.property]; track label.text) {
          <div [ngClass]="[label.textClass, label.bgClass]" class="rounded px-2 py-1 font-medium text-xs flex-none">
            {{ label.text }}
          </div>
          }
          @if (column.withAction) {
          <button (click)="onAddTag(column.property, row)"
            class="bg-base text-hint cursor-pointer hover:bg-hover flex-none flex items-center justify-center">
            <mat-icon class="icon-sm">add</mat-icon>
          </button>
          }
        </div>
      </td>
    </ng-container>
    }
    @default {
    <div></div>
    }
    }
    } @else {
    <ng-container [matColumnDef]="column.property">
      <th *matHeaderCellDef class="uppercase" mat-header-cell>
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef>
        <div class="h-4 w-4/5 bg-gray-300 rounded animate-pulse"></div>
      </td>
    </ng-container>
    }
    }

    <!-- Dropdown menu Column -->
    <ng-container matColumnDef="dropdown_menu_column">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
        <button (click)="$event.stopPropagation()" [matMenuTriggerData]="{ rowSelected: row }"
          [matMenuTriggerFor]="dropdownMenu()" mat-icon-button type="button">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns; sticky: true" mat-header-row></tr>
    <tr (dblclick)="!isLoading() && onDblClick(row)" *matRowDef="let row; columns: visibleColumns" @fadeInUp
      class="hover:bg-hover transition duration-400 ease-out-swift cursor-pointer" mat-row></tr>
  </table>
</div>

<mat-paginator showFirstLastButtons [class.hidden]="dataSource.filteredData.length === 0"
  [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
  class="sticky bottom-0 left-0 right-0 border-t flex-none"></mat-paginator>