<div class="bg-white rounded shadow flex md:flex-row">
    <div class="md:w-5/12">
        <wow-map-troncal-detail></wow-map-troncal-detail>
    </div>
    <div class="md:w-7/12 py-5 ">
        <div class="flex md:flex-row">
            <div class="nodos mr-5">
                <h6 class="text-gray-400 text-xs">Nodo</h6>
                {{ "ADAD-2"}}
            </div>
            <div class="construccion mr-5">
                <h6 class="text-gray-400 text-xs">Sufijo</h6>
                {{ "A" }}
            </div>
            @if (node()) {
            @let item = node()!;
            <div class="estado mr-5">
                <h6 class="text-gray-400">Estado</h6>
                @if(item.nodeState === 1){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-blue-600/10 text-blue-600">
                    Pendiente
                </div>
                } @else if(item.nodeState === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4C6DAF] text-white">
                    En Construcción
                </div>
                }@else if(item.nodeState === 3){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-green-600">
                    Construido
                </div>
                }
            </div>
            <div class="venta mr-5">
                <h6 class="text-gray-400">Venta</h6>
                @if(item.stateSale === 1){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#9C9C9C] text-white">
                    Bloqueado
                </div>
                } @else if(item.stateSale === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-amber-600">
                    En venta
                </div>
                }
            </div>
            }
        </div>
        <h3 class="mt-3">Cajas NAP</h3>
        <div class="flex md:flex-row">
            <div class="bg-[#F5F5F8] p-3 md:w-6/12 my-3 mr-2">
                <div class="flex md:flex-row">
                    <div class="md:w-3/12">
                        <h6>#</h6>
                        {{ "1" }}
                    </div>
                    <div class="md:w-6/12">
                        <h6>Puertos</h6>
                        <select name="puertos" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="md:w-3/12">
                        <mat-slide-toggle formControlName="enablePort"></mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="bg-[#F5F5F8] p-3 md:w-6/12 my-3 mr-2">
                <div class="flex md:flex-row">
                    <div class="md:w-3/12">
                        <h6>#</h6>
                        {{ "2" }}
                    </div>
                    <div class="md:w-6/12">
                        <h6>Puertos</h6>
                        <select name="puertos" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="md:w-3/12">
                        <mat-slide-toggle formControlName="enablePort"></mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="bg-[#F5F5F8] p-3 md:w-6/12 my-3 mr-2">
                <div class="flex md:flex-row">
                    <div class="md:w-3/12">
                        <h6>#</h6>
                        {{ "3" }}
                    </div>
                    <div class="md:w-6/12">
                        <h6>Puertos</h6>
                        <select name="puertos" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="md:w-3/12">
                        <mat-slide-toggle formControlName="enablePort"></mat-slide-toggle>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>