<h2 mat-dialog-title>
  <div class="flex justify-between items-center">
    <span class="text-orange-400">Nueva Zona</span>
  </div>
</h2>

<mat-dialog-content>
  <form [formGroup]="zoneForm" class="py-4">

    <div class="grid grid-cols-1 lg:grid-cols-1 gap-4 mb-2">

      <mat-form-field class="w-full">
        <mat-label>Departamento</mat-label>

          <mat-select formControlName="ubigeoDepartmentId" (selectionChange)="onDepartmentChange($event.value)">

             @for (department of zoneService.departmentsList(); track department.code) {
                <mat-option [value]="department.code">{{ department.name }}</mat-option>
              }
          </mat-select>

      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Provincia</mat-label>

       <mat-select formControlName="ubigeoProvinceId">

           @for (province of zoneService.provincesList(); track province.code) {
             <mat-option [value]="province.code">{{ province.name }}</mat-option>
           }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="zone_code" maxlength="50">
      </mat-form-field>

    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-stroked-button (click)="closeDlg()">Cancelar</button>
  <button type="button" mat-flat-button (click)="createZone()">Crear Zona</button>
</mat-dialog-actions>
