<header class="flex md:flex-row justify-start items-start md:justify-between md:items-center mb-5">

    <div class="flex justify-start items-start w-full md:w-5/12">
        <wow-title [url]="['/construccion']">
            <h2 class="text-[#7030A0]">
                Gestión de Zona de Cobertura
            </h2>
        </wow-title>
    </div>

    <div class="flex justify-end items-end w-full md:w-5/12">
        <button type="button" mat-flat-button class="mb-6" (click)="openSaveTroncalDlg()">
            <mat-icon>add</mat-icon>
            Agregar troncales
        </button>
    </div>

</header>

@if (zone()) {
    @let zona = zone()!;
    <div class="flex md:flex-row justify-start items-center rounded bg-white shadow w-full md:w-12/12 p-6">
        <div class="id px-7">
            <h6 class="text-gray-400">ID</h6>
            <span class="font-semibold">
                {{ zona.zoneId }}
            </span>
        </div>
        <div class="departamento px-7">
            <h6 class="text-gray-400">Departamento</h6>
            <!-- {{ zona.ubigeoDepartmentId }} -->
            <span class="text-[#7030A0] font-semibold">
                @switch (zona.ubigeoDepartmentId) {
                    @case ('01'){ 
                        {{ 'AMAZONAS' }}
                    }
                    @case ('02'){ 
                        {{ 'ANCASH' }}
                    }
                    @case ('03'){ 
                        {{ 'APURIMAC' }}
                    }
                    @case ('04'){ 
                        {{ 'AREQUIPA' }}
                    }
                    @case ('05'){ 
                        {{ 'AYACUCHO' }}
                    }
                    @case ('06'){ 
                        {{ 'CAJAMARCA' }}
                    }
                    @case ('07'){ 
                        {{ 'CALLAO' }}
                    }
                    @case ('08'){ 
                        {{ 'CUSCO' }}
                    }
                    @case ('09'){ 
                        {{ 'HUANCAVELICA' }}
                    }
                    @case ('10'){ 
                        {{ 'HUANUCO' }}
                    }
                    @case ('11'){ 
                        {{ 'ICA' }}
                    }
                    @case ('12'){ 
                        {{ 'JUNIN' }}
                    }
                    @case ('13'){ 
                        {{ 'LA LIBERTAD' }}
                    }
                    @case ('14'){ 
                        {{ 'LAMBAYEQUE' }}
                    }
                    @case ('15'){ 
                        {{ 'LIMA' }}
                    }
                    @case ('16'){ 
                        {{ 'LORETO' }}
                    }
                    @case ('17'){ 
                        {{ 'MADRE DE DIOS' }}
                    }
                    @case ('18'){ 
                        {{ 'MOQUEGUA' }}
                    }
                    @case ('19'){ 
                        {{ 'PASCO' }}
                    }
                    @case ('20'){ 
                        {{ 'PIURA' }}
                    }
                    @case ('21'){ 
                        {{ 'PUNO' }}
                    }
                    @case ('22'){ 
                        {{ 'SAN MARTIN' }}
                    }
                    @case ('23'){ 
                        {{ 'TACNA' }}
                    }
                    @case ('24'){ 
                        {{ 'TUMBES' }}
                    }
                    @case ('25'){ 
                        {{ 'UCAYALI' }}
                    }
                }
            </span>
        </div>
        <div class="provincia px-7">
            <h6 class="text-gray-400">Provincia</h6>
            <!-- {{ zona.ubigeoProvinceId }} -->
            <span class="text-[#7030A0] font-semibold">
                @switch (zona.ubigeoProvinceId) {
                    @case ('0101'){ 
                        {{ 'CHACHAPOYAS' }}
                    }
                    @case ('0102'){ 
                        {{ 'BAGUA' }}
                    }
                    @case ('0103'){ 
                        {{ 'BONGARA' }}
                    }
                    @case ('0104'){ 
                        {{ 'CONDORCANQUI' }}
                    }
                    @case ('0105'){ 
                        {{ 'LUYA' }}
                    }
                    @case ('0106'){ 
                        {{ 'RODRIGUEZ DE MENDOZA' }}
                    }
                    @case ('0107'){ 
                        {{ 'UTCUBAMBA' }}
                    }
                    @case ('0201'){ 
                        {{ 'HUARAZ' }}
                    }
                    @case ('0202'){ 
                        {{ 'AIJA' }}
                    }
                    @case ('0203'){ 
                        {{ 'ANTONIO RAYMONDI' }}
                    }
                    @case ('0204'){ 
                        {{ 'ASUNCION' }}
                    }
                    @case ('0205'){ 
                        {{ 'BOLOGNESI' }}
                    }
                    @case ('0206'){ 
                        {{ 'CARHUAZ' }}
                    }
                    @case ('0207'){ 
                        {{ 'CARLOS FERMIN FITZCA' }}
                    }
                    @case ('0208'){ 
                        {{ 'CASMA' }}
                    }
                    @case ('0209'){ 
                        {{ 'CORONGO' }}
                    }
                    @case ('0210'){ 
                        {{ 'HUARI' }}
                    }
                    @case ('0211'){ 
                        {{ 'HUARMEY' }}
                    }
                    @case ('0212'){ 
                        {{ 'HUAYLAS' }}
                    }
                    @case ('0213'){ 
                        {{ 'MARISCAL LUZURIAGA' }}
                    }
                    @case ('0214'){ 
                        {{ 'OCROS' }}
                    }
                    @case ('0215'){ 
                        {{ 'PALLASCA' }}
                    }
                    @case ('0216'){ 
                        {{ 'POMABAMBA' }}
                    }
                    @case ('0217'){ 
                        {{ 'RECUAY' }}
                    }
                    @case ('0218'){ 
                        {{ 'SANTA' }}
                    }
                    @case ('0219'){ 
                        {{ 'SIHUAS' }}
                    }
                    @case ('0220'){ 
                        {{ 'YUNGAY' }}
                    }
                    @case ('0301'){ 
                        {{ 'ABANCAY' }}
                    }
                    @case ('0302'){ 
                        {{ 'ANDAHUAYLAS' }}
                    }
                    @case ('0303'){ 
                        {{ 'ANTABAMBA' }}
                    }
                    @case ('0304'){ 
                        {{ 'AYMARAES' }}
                    }
                    @case ('0305'){ 
                        {{ 'COTABAMBAS' }}
                    }
                    @case ('0306'){ 
                        {{ 'CHINCHEROS' }}
                    }
                    @case ('0307'){ 
                        {{ 'GRAU' }}
                    }
                    @case ('0401'){ 
                        {{ 'AREQUIPA' }}
                    }
                    @case ('0402'){ 
                        {{ 'CAMANA' }}
                    }
                    @case ('0403'){ 
                        {{ 'CARAVELI' }}
                    }
                    @case ('0404'){ 
                        {{ 'CASTILLA' }}
                    }
                    @case ('0405'){ 
                        {{ 'CAYLLOMA' }}
                    }
                    @case ('0406'){ 
                        {{ 'CONDESUYOS' }}
                    }
                    @case ('0407'){ 
                        {{ 'ISLAY' }}
                    }
                    @case ('0408'){ 
                        {{ 'LA UNION' }}
                    }
                    @case ('0501'){ 
                        {{ 'HUAMANGA' }}
                    }
                    @case ('0502'){ 
                        {{ 'CANGALLO' }}
                    }
                    @case ('0503'){ 
                        {{ 'HUANCA SANCOS' }}
                    }
                    @case ('0504'){ 
                        {{ 'HUANTA' }}
                    }
                    @case ('0505'){ 
                        {{ 'LA MAR' }}
                    }
                    @case ('0506'){ 
                        {{ 'LUCANAS' }}
                    }
                    @case ('0507'){ 
                        {{ 'PARINACOCHAS' }}
                    }
                    @case ('0508'){ 
                        {{ 'PAUCAR DEL SARA SARA' }}
                    }
                    @case ('0509'){ 
                        {{ 'SUCRE' }}
                    }
                    @case ('0510'){ 
                        {{ 'VICTOR FAJARDO' }}
                    }
                    @case ('0511'){ 
                        {{ 'VILCAS HUAMAN' }}
                    }
                    @case ('0601'){ 
                        {{ 'CAJAMARCA' }}
                    }
                    @case ('0602'){ 
                        {{ 'CAJABAMBA' }}
                    }
                    @case ('0603'){ 
                        {{ 'CELENDIN' }}
                    }
                    @case ('0604'){ 
                        {{ 'CHOTA' }}
                    }
                    @case ('0605'){ 
                        {{ 'CONTUMAZA' }}
                    }
                    @case ('0606'){ 
                        {{ 'CUTERVO' }}
                    }
                    @case ('0607'){ 
                        {{ 'HUALGAYOC' }}
                    }
                    @case ('0608'){ 
                        {{ 'JAEN' }}
                    }
                    @case ('0609'){ 
                        {{ 'SAN IGNACIO' }}
                    }
                    @case ('0610'){ 
                        {{ 'SAN MARCOS' }}
                    }
                    @case ('0611'){ 
                        {{ 'SAN MIGUEL' }}
                    }
                    @case ('0612'){ 
                        {{ 'SAN PABLO' }}
                    }
                    @case ('0613'){ 
                        {{ 'SANTA CRUZ' }}
                    }
                    @case ('0701'){ 
                        {{ 'CALLAO' }}
                    }
                    @case ('0801'){ 
                        {{ 'CUSCO' }}
                    }
                    @case ('0802'){ 
                        {{ 'ACOMAYO' }}
                    }
                    @case ('0803'){ 
                        {{ 'ANTA' }}
                    }
                    @case ('0804'){ 
                        {{ 'CALCA' }}
                    }
                    @case ('0805'){ 
                        {{ 'CANAS' }}
                    }
                    @case ('0806'){ 
                        {{ 'CANCHIS' }}
                    }
                    @case ('0807'){ 
                        {{ 'CHUMBIVILCAS' }}
                    }
                    @case ('0808'){ 
                        {{ 'ESPINAR' }}
                    }
                    @case ('0809'){ 
                        {{ 'LA CONVENCION' }}
                    }
                    @case ('0810'){ 
                        {{ 'PARURO' }}
                    }
                    @case ('0811'){ 
                        {{ 'PAUCARTAMBO' }}
                    }
                    @case ('0812'){ 
                        {{ 'QUISPICANCHI' }}
                    }
                    @case ('0813'){ 
                        {{ 'URUBAMBA' }}
                    }  
                    @case ('0901'){ 
                        {{ 'HUANCAVELICA' }}
                    }  
                    @case ('0902'){ 
                        {{ 'ACOBAMBA' }}
                    }  
                    @case ('0903'){ 
                        {{ 'ANGARAES' }}
                    }  
                    @case ('0904'){ 
                        {{ 'CASTROVIRREYNA' }}
                    }
                    @case ('0905'){ 
                        {{ 'CHURCAMPA' }}
                    }  
                    @case ('0906'){ 
                        {{ 'HUAYTARA' }}
                    }  
                    @case ('0907'){ 
                        {{ 'TAYACAJA' }}
                    }  
                    @case ('1001'){ 
                        {{ 'HUANUCO' }}
                    }  
                    @case ('1002'){ 
                        {{ 'AMBO' }}
                    }  
                    @case ('1003'){ 
                        {{ 'DOS DE MAYO' }}
                    }  
                    @case ('1004'){ 
                        {{ 'HUACAYBAMBA' }}
                    }  
                    @case ('1005'){ 
                        {{ 'HUAMALIES' }}
                    }  
                    @case ('1006'){ 
                        {{ 'LEONCIO PRADO' }}
                    }  
                    @case ('1007'){ 
                        {{ 'MARAÑON' }}
                    }  
                    @case ('1008'){ 
                        {{ 'PACHITEA' }}
                    }  
                    @case ('1009'){ 
                        {{ 'PUERTO INCA' }}
                    }  
                    @case ('1010'){ 
                        {{ 'LAURICOCHA' }}
                    }  
                    @case ('1011'){ 
                        {{ 'YAROWILCA' }}
                    }
                    @case ('1101'){ 
                        {{ 'ICA' }}
                    }
                    @case ('1102'){ 
                        {{ 'CHINCHA' }}
                    }
                    @case ('1103'){ 
                        {{ 'NASCA' }}
                    }
                    @case ('1104'){ 
                        {{ 'PALPA' }}
                    }
                    @case ('1105'){ 
                        {{ 'PISCO' }}
                    }
                    @case ('1201'){ 
                        {{ 'HUANCAYO' }}
                    }
                    @case ('1202'){ 
                        {{ 'CONCEPCION' }}
                    }
                    @case ('1203'){ 
                        {{ 'CHANCHAMAYO' }}
                    }
                    @case ('1204'){ 
                        {{ 'JAUJA' }}
                    }
                    @case ('1205'){ 
                        {{ 'JUNIN' }}
                    }
                    @case ('1206'){ 
                        {{ 'SATIPO' }}
                    }
                    @case ('1207'){ 
                        {{ 'TARMA' }}
                    }
                    @case ('1208'){ 
                        {{ 'YAULI' }}
                    }
                    @case ('1209'){ 
                        {{ 'CHUPACA' }}
                    }
                    @case ('1301'){ 
                        {{ 'TRUJILLO' }}
                    }
                    @case ('1302'){ 
                        {{ 'ASCOPE' }}
                    }
                    @case ('1303'){ 
                        {{ 'BOLIVAR' }}
                    }
                    @case ('1304'){ 
                        {{ 'CHEPEN' }}
                    }
                    @case ('1305'){ 
                        {{ 'JULCAN' }}
                    }
                    @case ('1306'){ 
                        {{ 'OTUZCO' }}
                    }
                    @case ('1307'){ 
                        {{ 'PACASMAYO' }}
                    }
                    @case ('1308'){ 
                        {{ 'PATAZ' }}
                    }
                    @case ('1309'){ 
                        {{ 'SANCHEZ CARRION' }}
                    }
                    @case ('1310'){ 
                        {{ 'SANTIAGO DE CHUCO' }}
                    }
                    @case ('1311'){ 
                        {{ 'GRAN CHIMU' }}
                    }
                    @case ('1312'){ 
                        {{ 'VIRU' }}
                    }
                    @case ('1401'){ 
                        {{ 'CHICLAYO' }}
                    }
                    @case ('1402'){ 
                        {{ 'FERREÑAFE' }}
                    }
                    @case ('1403'){ 
                        {{ 'LAMBAYEQUE' }}
                    }
                    @case ('1501'){ 
                        {{ 'LIMA' }}
                    }
                    @case ('1502'){ 
                        {{ 'BARRANCA' }}
                    }  
                    @case ('1503'){ 
                        {{ 'CAJATAMBO' }}
                    }  
                    @case ('1504'){ 
                        {{ 'CANTA' }}
                    }  
                    @case ('1505'){ 
                        {{ 'CAÑETE' }}
                    }  
                    @case ('1506'){ 
                        {{ 'HUARAL' }}
                    }  
                    @case ('1507'){ 
                        {{ 'HUAROCHIRI' }}
                    }  
                    @case ('1508'){ 
                        {{ 'HUAURA' }}
                    }  
                    @case ('1509'){ 
                        {{ 'OYON' }}
                    }  
                    @case ('1510'){ 
                        {{ 'YAUYOS' }}
                    }  
                    @case ('1601'){ 
                        {{ 'MAYNAS' }}
                    }  
                    @case ('1602'){ 
                        {{ 'ALTO AMAZONAS' }}
                    }  
                    @case ('1603'){ 
                        {{ 'LORETO' }}
                    } 
                    @case ('1604'){ 
                        {{ 'MARISCAL RAMON CASTILLA' }}
                    } 
                    @case ('1605'){ 
                        {{ 'REQUENA' }}
                    } 
                    @case ('1606'){ 
                        {{ 'UCAYALI' }}
                    } 
                    @case ('1607'){ 
                        {{ 'DATEM DEL MARAÑON' }}
                    } 
                    @case ('1608'){ 
                        {{ 'MAYNAS' }}
                    } 
                    @case ('1701'){ 
                        {{ 'TAMBOPATA' }}
                    } 
                    @case ('1702'){ 
                        {{ 'MANU' }}
                    } 
                    @case ('1703'){ 
                        {{ 'TAHUAMANU' }}
                    } 
                    @case ('1801'){ 
                        {{ 'MARISCAL NIETO' }}
                    } 
                    @case ('1802'){ 
                        {{ 'GENERAL SANCHEZ CERRÓN' }}
                    } 
                    @case ('1803'){ 
                        {{ 'ILO' }}
                    } 
                    @case ('1901'){ 
                        {{ 'PASCO' }}
                    } 
                    @case ('1902'){ 
                        {{ 'DANIEL ALCIDES CARRIÓN' }}
                    } 
                    @case ('1903'){ 
                        {{ 'OXAPAMPA' }}
                    } 
                    @case ('2001'){ 
                        {{ 'PIURA' }}
                    } 
                    @case ('2002'){ 
                        {{ 'AYABACA' }}
                    }
                    @case ('2003'){ 
                        {{ 'HUANCABAMBA' }}
                    }
                    @case ('2004'){ 
                        {{ 'MORROPON' }}
                    }
                    @case ('2005'){ 
                        {{ 'PAITA' }}
                    }
                    @case ('2006'){ 
                        {{ 'SULLANA' }}
                    }
                    @case ('2007'){ 
                        {{ 'TALARA' }}
                    }
                    @case ('2008'){ 
                        {{ 'SECHURA' }}
                    }
                    @case ('2101'){ 
                        {{ 'PUNO' }}
                    }
                    @case ('2102'){ 
                        {{ 'AZANGARO' }}
                    }
                    @case ('2103'){ 
                        {{ 'CARABAYA' }}
                    }
                    @case ('2104'){ 
                        {{ 'CHUCUITO' }}
                    }
                    @case ('2105'){ 
                        {{ 'EL COLLAO' }}
                    }
                    @case ('2106'){ 
                        {{ 'HUANCANE' }}
                    }
                    @case ('2107'){ 
                        {{ 'LAMPA' }}
                    }
                    @case ('2108'){ 
                        {{ 'MELGAR' }}
                    }
                    @case ('2109'){ 
                        {{ 'MOHO' }}
                    }
                    @case ('2110'){ 
                        {{ 'SAN ANTONIO DE PUTIN' }}
                    }
                    @case ('2111'){ 
                        {{ 'SAN ROMAN' }}
                    }
                    @case ('2112'){ 
                        {{ 'SANDIA' }}
                    }
                    @case ('2113'){ 
                        {{ 'YUNGUYO' }}
                    }
                    @case ('2201'){ 
                        {{ 'MOYOBAMBA' }}
                    }
                    @case ('2202'){ 
                        {{ 'BELLAVISTA' }}
                    }
                    @case ('2203'){ 
                        {{ 'EL DORADO' }}
                    }
                    @case ('2204'){ 
                        {{ 'HUALLAGA' }}
                    }
                    @case ('2205'){ 
                        {{ 'LAMAS' }}
                    }
                    @case ('2206'){ 
                        {{ 'MARISCAL CACERES' }}
                    }
                    @case ('2207'){ 
                        {{ 'PICOTA' }}
                    }
                    @case ('2208'){ 
                        {{ 'RIOJA' }}
                    }
                    @case ('2209'){ 
                        {{ 'SAN MARTIN' }}
                    }
                    @case ('2210'){ 
                        {{ 'TOCACHE' }}
                    }
                    @case ('2301'){ 
                        {{ 'TACNA' }}
                    }
                    @case ('2302'){ 
                        {{ 'CANDARAVE' }}
                    }
                    @case ('2303'){ 
                        {{ 'JORGE BASADRE' }}
                    }
                    @case ('2304'){ 
                        {{ 'TARATA' }}
                    }
                    @case ('2401'){ 
                        {{ 'TUMBES' }}
                    }
                    @case ('2402'){ 
                        {{ 'CONTRALMIRANTE VILLAR' }}
                    }
                    @case ('2403'){ 
                        {{ 'ZARUMILLA' }}
                    }
                    @case ('2501'){ 
                        {{ 'CORONEL PORTILLO' }}
                    }
                    @case ('2502'){ 
                        {{ 'ATALAYA' }}
                    }
                    @case ('2503'){ 
                        {{ 'PADRE ABAD' }}
                    }
                    @case ('2504'){ 
                        {{ 'PURUS' }}
                    }                    

                }
            </span>
        </div>
        <div class="codigo px-7">
            <h6 class="text-gray-400">Código</h6>
            <span class="text-[#7030A0] font-semibold">
                {{ zona.zoneCode}}
            </span>
        </div>
        <div class="troncales px-7">
            <h6 class="text-gray-400">Troncales</h6>
            {{ zona.troncales }} / {{ zona.troncales }}
        </div>
        <div class="cajas-nap px-7">
            <h6 class="text-gray-400">Cajas NAP</h6>
            {{ zona.boxNaps }}
        </div>
        <div class="puertos px-7">
            <h6 class="text-gray-400">Puertos</h6>
            {{ 0 }}
        </div>
        <div class="construccion px-7">
            <h6 class="text-gray-400">Construcción</h6>
            {{ zona.advanceId + " %"}}
        </div>
        <div class="estado px-7">
            <h6 class="text-gray-400">Estado</h6>
            <!-- {{ zona.stateId }} -->
            @if(zona.stateId === 1){
            <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-blue-600/10 text-blue-600">
                Pendiente
            </div>
            } @else if(zona.stateId === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4C6DAF] text-white">
                    En Construcción
                </div>
            }@else if(zona.stateId === 3){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-green-600">
                    Construido
                </div>
            }
        </div>
        <div class="venta px-7">
            <h6 class="text-gray-400">Venta</h6>
            <!-- {{ zona.saleId}} -->
            @if(zona.saleId === 1){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#9C9C9C] text-white">
                    Bloqueado
                </div>
            } @else if(zona.saleId === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-amber-600">
                    En venta
                </div>
            }
        </div>
    </div>
    }

<div class="pt-6 pb-6">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Troncales">
            <wow-content-troncal></wow-content-troncal>
        </mat-tab>
        <mat-tab label="Mapa">
            <wow-map-troncal></wow-map-troncal>
        </mat-tab>
        <mat-tab label="Configuración" [disabled]="true">
            
        </mat-tab>
    </mat-tab-group>
</div>
