<header class="flex md:flex-row justify-start items-start md:justify-between md:items-center mb-5">

    <div class="flex justify-start items-start w-full md:w-5/12">
        <wow-title [url]="['/construccion']">
            <h2 class="text-[#7030A0]">
                Gestión de Zona de Cobertura
            </h2>
        </wow-title>
    </div>

    <div class="flex justify-end items-end w-full md:w-5/12">
        <button type="button" mat-flat-button class="mb-6" (click)="openSaveTroncalDlg()">
            <mat-icon>add</mat-icon>
            Agregar troncales
        </button>
    </div>

</header>

@if (zone()) {
    @let zona = zone()!;
    <div class="flex md:flex-row justify-start items-center rounded bg-white shadow w-full md:w-12/12 p-6">
        <div class="id px-7">
            <h6 class="text-gray-500 text-xs mb-1">ID</h6>
            <span class="font-semibold">
                {{ zona.zoneId }}
            </span>
        </div>
        <div class="departamento px-7">
            <h6 class="text-gray-500 text-xs mb-1">Departamento</h6>
            <span class="text-[#7030A0] font-semibold">
                {{ zona.departmentName }}
            </span>
        </div>
        <div class="provincia px-7">
            <h6 class="text-gray-500 text-xs mb-1">Provincia</h6>
            <span class="text-[#7030A0] font-semibold">
                {{ zona.provinceName }}
            </span>
        </div>
        <div class="codigo px-7">
            <h6 class="text-gray-500 text-xs mb-1">Código</h6>
            <span class="text-[#7030A0] font-semibold">
                {{ zona.zoneCode}}
            </span>
        </div>
        <div class="troncales px-7">
            <h6 class="text-gray-500 text-xs mb-1">Troncales</h6>
            <span class="font-semibold">
                {{ zona.troncales }} / {{ zona.troncales }}
            </span>
        </div>
        <div class="cajas-nap px-7">
            <h6 class="text-gray-500 text-xs mb-1">Cajas NAP</h6>
            <span class="font-semibold">
                {{ zona.boxNaps }}
            </span>
        </div>
        <div class="puertos px-7">
            <h6 class="text-gray-500 text-xs mb-1">Puertos</h6>
            <span class="font-semibold">
                {{ 0 }}
            </span>
        </div>
        <div class="construccion px-7">
            <h6 class="text-gray-500 text-xs mb-1">Construcción</h6>
            <span class="font-semibold">
                {{ zona.advanceId + " %"}}
            </span>
        </div>
        <div class="estado px-7">
            <h6 class="text-gray-500 text-xs mb-1">Estado</h6>
            <!-- {{ zona.stateId }} -->
            @if(zona.stateId === 1){
            <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-blue-600/10 text-blue-600">
                Pendiente
            </div>
            } @else if(zona.stateId === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4C6DAF] text-white">
                    En Construcción
                </div>
            }@else if(zona.stateId === 3){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-green-600">
                    Construido
                </div>
            }
        </div>
        <div class="venta px-7">
            <h6 class="text-gray-500 text-xs">Venta</h6>
            <!-- {{ zona.saleId}} -->
            @if(zona.saleId === 1){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#9C9C9C] text-white">
                    Bloqueado
                </div>
            } @else if(zona.saleId === 2){
                <div class="rounded-xl px-2 py-1 font-medium text-xs flex-none bg-[#4CAF50] text-amber-600">
                    En venta
                </div>
            }
        </div>
    </div>
    }

<div class="pt-6 pb-6">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Troncales">
            <wow-content-troncal></wow-content-troncal>
        </mat-tab>
        <mat-tab label="Mapa">
            <wow-map-troncal></wow-map-troncal>
        </mat-tab>
        <mat-tab label="Configuración" [disabled]="true">
            
        </mat-tab>
    </mat-tab-group>
</div>
