agm-map.h300, .h300 {
    height: 300px;
}

agm-map.h150, .h150 {
    height: 150px;
}

agm-map.h500, .h500 {
    height: 500px;
}

#loader {
    background-color:#eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}