<div class="fixed w-full z-50">
  <div class="bg-purple-800 text-white toolbar">
    <div class="flex justify-between items-center pl-4 md:pl-10">
      <div class="flex justify-between">
        <div class="flex items-center">
          <img src="images/wowperu-logo-light.svg" alt="Logo WOW Perú" class="logo">
          <div class="pt-2 pl-2 pr-2">|</div>
          <h2 class="pt-2">Construcción</h2>
        </div>
        <div class="flex items-center pl-[70rem]">
          <h4>Gestión</h4>
          <!-- <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="sidenav.toggle()"
            >
            <mat-icon class="text-white" aria-label="Side nav toggle icon">apps</mat-icon>
          </button> -->
          <button type="button" aria-label="Toggle sidenav" mat-icon-button>
            <mat-icon class="text-white" aria-label="Side nav toggle icon">apps</mat-icon>
          </button>
        </div>
      </div>
      <div class="flex self-stretch">
        <wow-avatar-menu></wow-avatar-menu>
      </div>
    </div>
  </div>
  <wow-menubar [modules]="settingService.modules()"></wow-menubar>
</div>

<main class="pt-36 px-8">
  <router-outlet />
</main>